<div class=" content">
  <div class=" row">
<div class=" col-md-12">
  <div class=" card">
    <div class=" card-header">
      <h4 class=" card-title">Edit Publication</h4>
    </div>
    <form (submit)="updatePublication()">
      <angular2-multiselect
      [data]="[
        { itemName: 'public' },
        {itemName: 'private' }
      ]"
      [(ngModel)]="selectedStatus" name="status" required
      [settings]="{
        singleSelection: true,
        text: 'Choose status post ',
        classes: 'selectpicker btn-danger',
        lazyLoading: true,
        maxHeight: 100
      }"
    >
    </angular2-multiselect>
    
      <div class=" card-body">
        <label>title : </label>
        <div class=" form-group">
          <input class=" form-control" type="text" [(ngModel)]="publication.title" placeholder="{{ publication.title }}" name="title" required />
        </div>
        <label>describe your post : </label>
        <div class=" form-group">

          <textarea class=" form-control" [(ngModel)]="publication.content" name="content" placeholder="{{ publication.content }}" required></textarea>
        </div>

        <div class=" col-md-8">
          <h4 class=" card-title">Select your image or video </h4>
          <app-picture-upload></app-picture-upload>

        </div>

      </div>
      <div class=" card-footer">
        <button class=" btn btn-fill btn-primary" type="submit">
          Update Publication
        </button>
      </div>
    </form>
  </div>
</div>
</div>
</div>