<form [formGroup]="userForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="w-100" color="primary">
    <input matInput formControlName="username" placeholder="{{ currentuser.username }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" color="primary">
    <input matInput type="email" formControlName="email" placeholder="{{ currentuser.email }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" color="primary">
    <input matInput type="number" formControlName="age" placeholder="{{ currentuser.age }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" color="primary">
    <mat-select formControlName="type" placeholder="{{ currentuser.type }}">
      <mat-option value="normal">Normal</mat-option>
      <mat-option value="premium">Premium</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" color="primary">
    <input matInput formControlName="adresse" placeholder="{{ currentuser.adresse }}" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100" color="primary">
    <input matInput formControlName="genre" placeholder="{{ currentuser.genre }}" [disabled]="true"/>
  </mat-form-field>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <button mat-raised-button [disabled]="sentPass" color="primary" type="button" (click)="handleChangePassword()">Request a New Password</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
