
<table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de téléphone</th>
        <th>Adresse</th>
        <th>Adresse email</th>
        <!-- Ajoutez d'autres en-têtes de colonne ici -->
      </tr>
   
    </thead>
    <tbody>
      <tr *ngFor="let liv of livreurs">
                

        <td>{{ liv.Nom }}</td>
        <td>{{ liv.Prenom }}</td>
        <td>{{ liv.NUMtelephone }}</td>
        <td>{{ liv.adresse }}</td>
        <td>{{ liv.adressEmail }}</td>
        <td>
          <button (click)="deleteLivreur(liv._id)">Supprimer</button>
        </td>
        <td>
          <button (click)="openDialog(liv._id, liv.Nom, liv.Prenom,liv.NUMtelephone, liv.adresse,liv.adressEmail,liv.typeDEvehicule,liv.age,liv.profession,liv.sex,liv.moyenneNote )">modifier</button>
        </td>




        <!-- Ajoutez d'autres cellules de données ici -->
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" (click)="ajouter()">Ajouter Livreur</button>

  <nav>
    <a routerLink="/addnote">ajouter note a une livreur</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>