
        <mat-card-content class="p-16">
          <div class="or-border m-t-30">Add a product</div>

          <form class="m-t-30" [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Category</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categorieId" required>
                  <mat-option *ngFor="let categorie of categorieList" [value]="categorie._id">
                    {{ categorie.name }} - {{ categorie.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Description</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Price</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="number" formControlName="prix" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Brand</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="marque" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Size</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="taille">
                <mat-option value="XS">XS</mat-option>
                <mat-option value="S">S</mat-option>
                <mat-option value="M">M</mat-option>
                <mat-option value="L">L</mat-option>
                <mat-option value="XL">XL</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Color</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="couleur" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Material</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="materieau">
                <mat-option value="Coton">Coton</mat-option>
                <mat-option value="Polyester">Polyester</mat-option>
                <mat-option value="Nylon">Nylon</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Image</mat-label>
            <div>
              <input type="file" (change)="onImageChange($event)" />
            </div>

            <div class="form-actions">
              <button mat-flat-button color="warn" (click)="closeModal()">Cancel</button>
              <button mat-flat-button color="primary" type="submit">Add</button>
            </div>
          </form>
        </mat-card-content>

