/* AddProductDialogComponent CSS */
:host {
  display: block;
}

/* Style the form actions (buttons) */
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border-top: 1px solid #ccc; /* Add a line above the form actions */
  padding-top: 8px;
}

/* Style the Cancel button */
.form-actions button:first-child {
  margin-right: 8px;
}

/* Style the Add button */
.form-actions button:last-child {
  margin-left: 8px;
}

/* Style the file input container */
.file-input-container {
  position: relative;
}

/* Add a line below the file input */
.file-input-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

/* Hide the default file input appearance */
.file-input-container input[type='file'] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.error-snackbar {
  background-color: #d32f2f; /* Use a suitable color for error messages */
  color: #fff;
}
