<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Livreur ID</th>
        <th>Produits</th>
        <th>Adresse</th>
        <th>Adresse Email</th>
        <th>Prix Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commande of commandes">
        <td>{{ commande._id }}</td>
        <td>{{ commande.livreurId }}</td>
        <td>{{ commande.produits }}</td>
        <td>{{ commande.adresse }}</td>
        <td>{{ commande.adressEmail }}</td>
        <td>{{ commande.Prixtotal }}</td>
        <td *ngIf="false">{{ commande.latitude }}</td>
        <td *ngif="false">{{ commande.longitude }}</td>
        <td>
          <button (click)="deletecommande(commande._id)">Supprimer</button>
        </td>
        <td>
          <button (click)="openMaps(commande._id)">localisation</button>
        </td>
        <td>
          <button (click)="openDialog(commande._id, commande.livreurId, commande.produits,commande.adresse,commande.adressEmail, commande.Prixtotal,commande.longitude,commande.latitude )">modifier</button>
        </td>
        
        
      </tr>
    </tbody>
  </table>

  <nav>
    <a routerLink="/ajoutercommande">ajoutercommande</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>
 