<nav>
    <a routerLink="/gestion-commande">Gestion des commandes</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>
  <nav>
    <a routerLink="gestion-notelivreur">meilleurs livreurs</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>
  <nav>
    <a routerLink="stat">statistique</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>
  <nav>
    <a routerLink="lvreur">livreurs</a>
    <!-- Ajoutez d'autres liens de navigation ici -->
  </nav>
<router-outlet></router-outlet>

