<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Publication Form</h4>
        </div>
        <form (submit)="submitForm()">
          <angular2-multiselect
          [data]="[
            { itemName: 'public' },
            {itemName: 'private' }
          ]"
          [(ngModel)]="selectedStatus" name="status" required
          [settings]="{
            singleSelection: true,
            text: 'Choose status post ',
            classes: 'selectpicker btn-danger',
            lazyLoading: true,
            maxHeight: 100
          }"
        >
        </angular2-multiselect>
        
          <div class=" card-body">
            <label>title : </label>
            <div class=" form-group">
              <input class=" form-control" type="text" [(ngModel)]="publication.title" name="title" required />
            </div>
            <label>describe your post : </label>
            <div class=" form-group">

              <textarea class=" form-control" [(ngModel)]="publication.content" name="content" required></textarea>
            </div>

            <div class=" col-md-8">
              <h4 class=" card-title">Select your image or video </h4>
              <app-picture-upload></app-picture-upload>

            </div>

          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-primary" type="submit">
              Post
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Publications</h4>
        </div>
        <div *ngIf="pub" class="card-body">
          <div *ngFor="let item of pub; let i = index" class="row" style="border: 5px; margin: 15px; border-color: aliceblue; border: inset;">
            <label class="col-sm-2 col-form-label">Publication Status</label>
            <div class="col-sm-10">
              <div class="form-group">
                <p class="form-control-static">{{ item.status }}</p>
              </div>
            </div>
            <label class="col-sm-2 col-form-label">Publication title</label>
            <div class="col-sm-10">
              <div class="form-group">
                <p class="form-control-static">{{ item.title }}</p>
              </div>
            </div>
            <label class="col-sm-2 col-form-label">Publication Content</label>
            <div class="col-sm-10">
              <div class="form-group">
                <p class="form-control-static">{{ item.content }}</p>
              </div>
            </div>
            <label class="col-sm-2 col-form-label">User created the publication</label>
            <div class="col-sm-10">
              <div class="form-group">
                <p class="form-control-static">{{ users[item.userId]?.username }}</p>
              </div>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="editPublication(item._id)">Edit</button>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" (click)="deletePublication(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Horizontal Form</h4>
        </div>
        <div class=" card-body">
          <form class=" form-horizontal">
            <div class=" row">
              <label class=" col-md-3 col-form-label"> Username </label>
              <div class=" col-md-9">
                <div class=" form-group">
                  <input class=" form-control" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-md-3 col-form-label"> Email </label>
              <div class=" col-md-9">
                <div class=" form-group">
                  <input class=" form-control" type="email" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-md-3 col-form-label"> Password </label>
              <div class=" col-md-9">
                <div class=" form-group">
                  <input class=" form-control" type="password" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-md-3 col-form-label"> </label>
              <div class=" col-md-9">
                <div class=" form-check">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> Remember me
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <form class=" form-horizontal">
            <div class=" row">
              <label class=" col-md-3 col-form-label"> </label>
              <div class=" col-md-9">
                <button class=" btn btn-fill btn-primary" type="submit">
                  Sign in
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Form Elements</h4>
        </div>
        <div class=" card-body">
          <form action="/" class=" form-horizontal" method="get">
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> With help </label>
              <div class=" col-sm-10">
                <div class=" form-group">
                  <input class=" form-control" type="text" />

                  <span class=" form-text">
                    A block of help text that breaks onto a new line.
                  </span>
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Password </label>
              <div class=" col-sm-10">
                <div class=" form-group">
                  <input class=" form-control" type="password" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Placeholder </label>
              <div class=" col-sm-10">
                <div class=" form-group">
                  <input
                    class=" form-control"
                    placeholder="placeholder"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Disabled </label>
              <div class=" col-sm-10">
                <div class=" form-group">
                  <input
                    class=" form-control"
                    disabled="disabled"
                    type="text"
                    value="Disabled input here.."
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Static control </label>
              <div class=" col-sm-10">
                <div class=" form-group">
                  <p class=" form-control-static">hello@creative-tim.com</p>
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label">
                Checkboxes and radios
              </label>
              <div class=" col-sm-10 checkbox-radios">
                <div class=" form-check">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> First Checkbox
                  </label>
                </div>
                <div class=" form-check">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> Second Checkbox
                  </label>
                </div>
                <div class=" form-check form-check-radio">
                  <label class=" form-check-label">
                    <input
                      checked="checked"
                      class=" form-check-input"
                      id="exampleRadios1"
                      name="exampleRadios"
                      type="radio"
                      value="option1"
                    />

                    <span class=" form-check-sign"> </span> First Radio
                  </label>
                </div>
                <div class=" form-check form-check-radio">
                  <label class=" form-check-label">
                    <input
                      class=" form-check-input"
                      id="exampleRadios2"
                      name="exampleRadios"
                      type="radio"
                      value="option2"
                    />

                    <span class=" form-check-sign"> </span> Second Radio
                  </label>
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label">
                Inline checkboxes
              </label>
              <div class=" col-sm-10">
                <div class=" form-check form-check-inline">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> a
                  </label>
                </div>
                <div class=" form-check form-check-inline">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> b
                  </label>
                </div>
                <div class=" form-check form-check-inline">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> c
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Input Variants</h4>
        </div>
        <div class=" card-body">
          <form action="/" class=" form-horizontal" method="get">
            <div class=" row">
              <label class=" col-sm-2 col-form-label">
                Custom Checkboxes &amp; radios
              </label>
              <div class=" col-sm-4 col-sm-offset-1 checkbox-radios">
                <div class=" form-check">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> Unchecked
                  </label>
                </div>
                <div class=" form-check">
                  <label class=" form-check-label">
                    <input
                      checked="checked"
                      class=" form-check-input"
                      type="checkbox"
                    />

                    <span class=" form-check-sign"> </span> Checked
                  </label>
                </div>
                <div class=" form-check disabled">
                  <label class=" form-check-label">
                    <input
                      class=" form-check-input"
                      disabled="disabled"
                      type="checkbox"
                    />

                    <span class=" form-check-sign"> </span> Disabled Unchecked
                  </label>
                </div>
                <div class=" form-check disabled">
                  <label class=" form-check-label">
                    <input
                      class=" form-check-input"
                      disabled="disabled"
                      type="checkbox"
                    />

                    <span class=" form-check-sign"> </span> Disabled Checked
                  </label>
                </div>
              </div>
              <div class=" col-sm-5 checkbox-radios">
                <div class=" form-check form-check-radio">
                  <label class=" form-check-label">
                    <input
                      class=" form-check-input"
                      id="exampleRadios3"
                      name="exampleRadio"
                      type="radio"
                      value="option1"
                    />

                    <span class=" form-check-sign"> </span> Radio is off
                  </label>
                </div>
                <div class=" form-check form-check-radio">
                  <label class=" form-check-label">
                    <input
                      checked="checked"
                      class=" form-check-input"
                      id="exampleRadios4"
                      name="exampleRadio"
                      type="radio"
                      value="option2"
                    />

                    <span class=" form-check-sign"> </span> Radio is on
                  </label>
                </div>
                <div class=" form-check form-check-radio disabled">
                  <label class=" form-check-label">
                    <input
                      class=" form-check-input"
                      disabled="disabled"
                      id="exampleRadios5"
                      name="exampleRadio1"
                      type="radio"
                      value="option1"
                    />

                    <span class=" form-check-sign"> </span> Radio is off
                  </label>
                </div>
                <div class=" form-check form-check-radio disabled">
                  <label class=" form-check-label">
                    <input
                      checked="checked"
                      class=" form-check-input"
                      disabled="disabled"
                      id="exampleRadios6"
                      name="exampleRadio1"
                      type="radio"
                      value="option2"
                    />

                    <span class=" form-check-sign"> </span> Radio is on
                  </label>
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label">
                Input with success
              </label>
              <div class=" col-sm-10">
                <div class=" form-group has-success">
                  <input class=" form-control" type="text" value="Success" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Input with error </label>
              <div class=" col-sm-10">
                <div class=" form-group has-danger">
                  <input class=" form-control" type="text" value="Error" />
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-sm-2 col-form-label"> Column sizing </label>
              <div class=" col-sm-10">
                <div class=" row">
                  <div class=" col-md-3">
                    <div class=" form-group">
                      <input
                        class=" form-control"
                        placeholder=".col-md-3"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-4">
                    <div class=" form-group">
                      <input
                        class=" form-control"
                        placeholder=".col-md-4"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-5">
                    <div class=" form-group">
                      <input
                        class=" form-control"
                        placeholder=".col-md-5"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->