<div class="content mt-5">
    <div class="col-md-8 ml-auto mr-auto">
      <h2 class="text-center">Statistiques des réclamations</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="toolbar"></div>
            <div *ngIf="reclamationStats">
                <ul>
                <div *ngIf="reclamationStats">
                    <canvas baseChart [data]="chartData" [labels]="chartLabels" [options]="chartOptions" [chartType]="'bar'"></canvas>
                </div>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>


